body {
    background-color: #F5F5F5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    position: relative;
    background: #ffffff;
    padding: 50px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    outline: #0073B1 solid 1px;
}

img {
    width: 200px; 
    height: auto; 
    display: block; 
    margin: 0 auto 20px; 
    border-radius: 10px; 
    object-fit: contain; 
    color: black
}

h2 {
    color: #0073B1; 
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    overflow: visible;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D1D5DB;
    outline: none;
    transition: border 0.3s ease;
}

.input-group input:focus {
    border: 1px solid #0073B1;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #0073B1;
    margin-top: 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
